<h1 i18n="User welcome|An introduction header for this sample">Hello, World!</h1>

<kendo-grid>
    <kendo-grid-messages noRecords="No hay datos disponibles.">
    </kendo-grid-messages>
</kendo-grid>

<kendo-upload
    [autoUpload]="false"
    [saveUrl]="uploadSaveUrl"
    [removeUrl]="uploadRemoveUrl">
    <kendo-upload-messages
        select="Select an image" i18n-select="Upload button text|The text that is displayed in the image Upload selection button">
    </kendo-upload-messages>
</kendo-upload>

